.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

input{
    font-size: 20px;
    display: block;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 12px;
}
button{
   display: block;
   padding: 10px 10px;
   width: 100%;
   font-size: 15px;
   justify-content: center;
   cursor: pointer;

}




